// fonts
$merri: "Merriweather", serif;
$montse: "Montserrat", sans-serif;
$open: "Open Sans", sans-serif;

// colors
$orange: #e17334;
$white: #ffffff;
$light-khaki: #f9f4dc;
$black: #000000;
$white-two: #d8d8d8;
$white-four: #f5f5f5;
$gunmetal: #54585a;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$light-blue: #00a0f5;
$greyButton: #d5d5d5;

// palettes 
$dark-blue: #114e4e;
$blue: #438792;
$hospital-green: #a2deaf;
$blood: #420101;
$rusty-red: #bd1010; 
$tomato:  #e95626;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;