<fieldset class="design">
  <legend class="design__legend js-designLegend">
    <div class="design__legend--topLegend">
      <i class="fa-solid fa-object-ungroup design__legend--icon"></i>
      <h2 class="design__title">Diseña</h2>
    </div>
    <i
      class="fa-solid fa-angle-up design__legend--arrow js-designArrow fa-transform"
    ></i>
  </legend>
  <div class="js-design collapsed">
    <div class="box1">
      <h3 class="design__inputname">Colores</h3>
      <div class="design__options">
        <div class="option">
          <input
            class="option__input js-input-1 js-option-input"
            id="1"
            type="radio"
            value="option1"
            name="design-options"
          />
          <label class="design__options--box" for="option1">
            <div class="option1__color1"></div>
            <div class="option1__color2"></div>
            <div class="option1__color3"></div>
          </label>
        </div>
        <div class="option">
          <input
            class="option__input js-input-2 js-option-input"
            id="2"
            type="radio"
            value="option2"
            name="design-options"
          />
          <label class="design__options--box" for="option2">
            <div class="option2__color1"></div>
            <div class="option2__color2"></div>
            <div class="option2__color3"></div>
          </label>
        </div>
        <div class="option">
          <input
            class="option__input js-input-3 js-option-input"
            id="3"
            type="radio"
            value="option3"
            name="design-options"
          />
          <label class="design__options--box" for="option3">
            <div class="option3__color1"></div>
            <div class="option3__color2"></div>
            <div class="option3__color3"></div>
          </label>
        </div>
      </div>
    </div>
  </div>
</fieldset>
