<fieldset action="/signup" method="post" class="share-container">
  <label class="form--heading js-title_share">
    <div class="form--heading__left">
      <i class="fa-solid fa-share-nodes"></i>
      <h2 class="share--text">COMPARTE</h2>
    </div>
    <i class="fa-solid fa-angle-up fill-arrow js-shareArrow fa-transform"></i>
  </label>
  <div class="form3 js-share collapsed">
    <div class="form3--section-1">
      <p class="text-share share-error js-text-share"></p>
      <button class="form3--section-1__button js_bntCreate">
        <i class="fa-regular fa-address-card"></i>
        <p class="button-create">CREAR TARJETA</p>
      </button>
    </div>

    <div class="form3--section-2 js-createHidden js-shareCard">
      <div class="form3--section-2__text">
        <p class="text-share">La tarjeta ha sido creada</p>
        <a class="url-share js_shareUrl" href="" target="_blank"></a>
      </div>

      <button class="form3--section-2__button">
        <i class="fa-brands fa-twitter"></i>
        <a href="" class="text-twitter js_shareTwitter" target="_blank">Compartir en Twitter</a>
      </button>
    </div>
  </div>
</fieldset>
