<div class="line"></div>


<div class="filled js-desplegable">
  <i class="fa-solid fa-keyboard"></i>
  <legend class="filled__text">Rellena</legend>
  <i class="fa-solid fa-angle-up fill-arrow js-icon-rellena fa-transform "></i>

</div>

<fieldset action="/signup" method="post" class="form2 js-fieldset collapsed">



  <label class="label1">Nombre completo</label>
  <input type="text" class="input js_resetInput" name="name" placeholder="Ej: Sally Hill" required />
  <label class="label">Puesto</label>
  <input type="text" class="input js_resetInput" name="job" placeholder="Ej: Front-end unicorn" required />

  <label class="label">Imagen de perfil</label>



  <div class="container">
    <label class="form2-submit js__profile-trigger" for="user-photo">Añadir imagen</label>
    <input type="file" class="input-file js__profile-upload-btn" id="user-photo" />
    <span class="div 	js__profile-preview js_reset_previewimg"></span>
  </div>

  <label class="label">Email</label>
  <input type="email" class="input js_resetInput" name="email" placeholder="Ej: sally.hill@gmail.com" required />

  <label class="label">Teléfono</label>
  <input type="tel" class="input js_resetInput" name="phone" placeholder="Ej: 555-55-55-55" required />
  <label class="label">Linkedin</label>
  <input type="text" class="input js_resetInput" name="linkedin" placeholder="Ej: /sally-hill-9b3888143/"
    required />
  <label class="label">Github</label>
  <input type="text" class="input js_resetInput" name="github" placeholder="Ej: sally-hill" required />
  </p>

</fieldset>
<div class="line"></div>